 <button (click)="showUserForm = !showUserForm" class="btn-dark btn mb-3">Add User</button>
 <div *ngIf="showUserForm" class="card-body card mb-3 ml-3 mr-3">
 <h2>Add User</h2>
   <form (submit)="onSubmit($event)">
     <label>First Name</label>
     <input  type="text" class="form-control" [(ngModel)]="user.firstName" name="firstName">
     <label>Last Name</label>
     <input  type="text" class="form-control" [(ngModel)]="user.lastName" name="lastName">
     <label>Email</label>
     <input  type="text" class="form-control" [(ngModel)]="user.email" name="email">
     <button  [disabled]="user.firstName =='' || user.lastName==''"  class="btn btn-light mb-3" [ngClass]="currentClasses">Add new user</button><br>
   </form>

 </div>
  <ul   *ngIf="loaded;else loading">
    <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-light]="user.isActive" [style.border-color]="user.isActive ? 'green' : ''">
      <div class="row">
        <div class=""col-sm-8>
          <h3 [ngStyle]="currentStyle">{{ user.firstName }}  {{ user.lastName }}</h3>
          <small><button (click)="toggleHide(user)" class="btn btn-dark btn-sm mb-2"><i [ngClass]="user.hide ? 'fa fa-plus': 'fa fa-minus'"></i></button></small>
          <ul class="list-group"  *ngIf="!user.hide">
              <li class="list-group-item">{{user.email}}</li>
            <li class="list-group-item">Joined in {{user.registered | date:"fullDate"}}</li>
          </ul>
        </div>
      </div>

    </li>
  </ul>
  <ng-template #loading>Loading Users ....</ng-template>
